 body {
                font-family: Arial, sans-serif;
                background-color: #3498db; /* Set your background color here */
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
    
            .welcome-container {
                text-align: center;
                color: #fff; /* Set your text color here */
            }
    
            .app-logo {
                width: 200px; /* Set your logo's width */
                height: 200px; /* Set your logo's height */
                border-radius: 50%; /* Makes it a circle */
                background-color: #fff; /* Set your logo's background color */
                margin: 0 auto 20px;
            }
    
            h1 {
                font-size: 32px;
                margin: 10px 0;
            }
    
            p {
                font-size: 18px;
            }
    
            .get-started-button {
                background-color: #fff; /* Set your button's background color */
                color: #3498db; /* Set your button's text color */
                border: none;
                padding: 10px 20px;
                font-size: 18px;
                border-radius: 5px;
                cursor: pointer;
            }
#studyintroheading {
    color: black;
    text-align: center;
    position: absolute;
    width: 83%;
    margin-top: 0px;
    top: 0;
    font-size: 50px;
    margin-top: 33;
    margin-left: 15%;
    text-decoration: underline;
}

#studyintroheading:hover {
    font-size: 60px;
    text-decoration: underline;
    width: 83%;
    margin-left: 15%;
    color: red;
}

#gstudy {
    align-content: center;
    align-self: center;
    align-items: center;
    width: 50%;
    background-color: black;
    color: white;
    height: 50px;
    font-size: large;
}

#sstudy{
    align-content: center;
    align-items: center;
    width: 50%;
    background-color: black;
    color: white;
    height: 50px;
    font-size: large;
}

.icon {
    width: 200px;
    text-align: center;
}

#beautify1 {
    width: 100%;
}

#mailid {
    height: "50px";
    width: "80%";
    background-color: antiquewhite;
    color: black;
    width: 80%;
    height: 50px;
    border: none;
    font-size: 70px;
}

#image {
    display: flex;
    width: 45%;
}

.container img {
    /* Set the width of the images to 50% */
    width: 50%;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    border: none;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
    display: flex;
}


/* style inputs and link buttons */

input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

input:hover,
.btn:hover {
    opacity: 1;
}


/* add appropriate colors to fb, twitter and google buttons */


/* style the submit button */

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/* Two-column layout */

.col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* vertical line */

.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
}


/* text inside the vertical line */

.vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
}


/* hide some text on medium and large screens */

.hide-md-lg {
    display: none;
}


/* bottom container */

.bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 650px) {
    .col {
        width: 100%;
        margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
        display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
        display: block;
        text-align: center;
    }
}
#google-login{
border: none;
background-color: #dd4b39;
color: white;
}