body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    display: flex;    
    height: 100vh;
}

.g-signin2{
    text-align: left;
}