.container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: auto;
}h1 {
    color: #007BFF;
    margin-top: 0;
}#reql {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.selforgroup:hover {
    background-color: #0056b3;
}
#firsttimequestions {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}
#matchedUsers {
    margin-top: 20px;
    font-weight: bold;
}

#matchedUsers p {
    margin: 10px 0;
}
#reql:hover {
    background-color: #0056b3;
}
.selforgroup {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    text-decoration: none;
}


label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: auto;
}
